infrastructure/terraform/account.json
infrastructure/terraform/.terraform
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup

services/axidraw/node_modules
services/axidraw/dist
services/webhooks/node_modules
services/webhooks/dist
services/plot/node_modules
services/plot/dist

art/node_modules
art/dist
art/.cache

data/node_modules
